.bookGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:none;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  width: 200px;
  background-color: rgb(189, 84, 14);
  box-shadow:20px 20px black;
}

.bookGridText{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.booksLibrary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px;
  padding: 50px;
  flex-wrap: wrap;
  gap: 50px;
  background-color: rgba(221, 152, 49, 0.637);
}
